/* Wireframe with Figma: https://www.figma.com/design/Q6qeeTOU8OrdXfIUiKJy07/landingPage_meals?node-id=1-2&t=ZYg3cpOAcPRVKLfC-0 */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*----------------------------------------
### General
----------------------------------------*/

:root {
    scroll-behavior: smooth;

    --primary: #002684;
    --secondary: #00a0df;
    --text-dark: #6a6d75;
    --text-light: #ffffff;
    --bg-light: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-dark);
    background: var(--bg-light);
}

a {
    color: var(--primary);
    text-decoration: none !important;
    cursor: pointer;
}

a:hover {
    color: var(--secondary);
    text-decoration: none;
    cursor: pointer
}

h1,
h2, 
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

section {
    padding: 3rem 5rem;
}

input:focus,input.active {
    outline: none;
}

button.button-primary {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 40px;
    letter-spacing: 0.1cm;
    padding: 0.5rem 2rem;
    background-color: var(--primary);
    color: var(--text-light);
}

button.button-primary:hover {
    cursor: pointer;
}

/*----------------------------------------
### Special classes
----------------------------------------*/

.cards {
    width: 100%;
}

.logo img {
    height: 2.5rem;
}

#scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--secondary); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  #scrollBtn:hover {
    background-color: var(--primary); /* Add a dark-grey background on hover */
    -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
  }

  #scrollBtn img {
    height: 30px;
    color: var(--primary);
  }


/*----------------------------------------
### Header
----------------------------------------*/

header {
    padding: 3rem 5rem;
}

.header {
    background-image: url('./assets/images/Hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 80vh;
}

.header .wrapper {
    max-width: 30rem; 
}

.header .logo {
    margin-bottom: 1.5rem;
}

.header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0.3rem;
}

.header h1:last-of-type {
    color: var(--secondary);
    margin-bottom: 0.6rem;
}

.header p {
    margin-bottom: 1.5rem;
    line-height: 0.5cm;
}

/*----------------------------------------
### Call To Action
----------------------------------------*/

.call-to-action .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action h2 {
    text-align: center;
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.3rem; 
}

.call-to-action h2:last-of-type {
    margin-bottom: 0.6rem; 
}

.call-to-action h2 span {
    color: var(--secondary);
    font-size: 1.6rem;
}

.call-to-action p {
    margin-bottom: 1.5rem;
    line-height: 0.5cm;
}

.call-to-action button {
    margin-bottom: 4rem;
}

.call-to-action .cards {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 2.7rem;
}

.call-to-action .cards .item {
    max-width: 15rem;
    display: flex;
    align-items: center;
}

.call-to-action .cards .item .icon {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

.call-to-action .cards .item h6,
.call-to-action .cards .item p {
    font-size: 0.83rem;
}

/*----------------------------------------
### Selling points
----------------------------------------*/

.selling-points {
    background-color: var(--secondary);
}

.selling-points .box {
    display: flex;
    flex-direction: column;
    color: var(--text-light);
    align-items: center;
}

.selling-points h2 {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    word-spacing: 0.1cm;
    margin-bottom: 3rem;
}

.selling-points .cards {
    max-width: 70vw;
    display: flex;
    gap: 2.7rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.selling-points .cards .item {
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.selling-points .cards .item div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.selling-points .cards .item .icon {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.selling-points .cards .item h6,
.selling-points .cards .item p {
    font-size: 0.83rem;
}

.selling-points .cards .item h6 {
    flex-grow: 1;
}

.selling-points .cards .item p {
    margin-bottom: auto;
}

.selling-points button.button-primary {
    color: var(--primary);
    background-color: var(--bg-light);
}


/*----------------------------------------
### Call To Action Banner
----------------------------------------*/

.call-to-action-banner {
    background-image: url("./assets/images/Plans-module-bg-mobi.webp");
    height: 35rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action-banner .box {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-light);
}

.call-to-action-banner h2 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.3rem; 
}

.call-to-action-banner h2:last-of-type {
    margin-bottom: 1.5rem; 
}

.call-to-action-banner h2 span {
    color: var(--secondary);
    font-size: 1.6rem;
}

.call-to-action-banner p {
    margin-bottom: 1.5rem;
    line-height: 0.5cm;
}

/*----------------------------------------
### Newsletter Signup
----------------------------------------*/

.newsletter-signup {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-grow: 1;
    padding: 3rem 15rem;
}

.newsletter-signup div {
    display: flex;
}

.newsletter-signup .content {
    flex-direction: column;
    flex-basis: 30%;
}

.newsletter-signup h6,
.newsletter-signup p {
    font-size: 0.83rem;
}

.newsletter-signup h6 {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.newsletter-signup .form {  
    align-items: center;
    flex-basis: 70%;
    justify-content: flex-end;
}

.newsletter-signup form {
    width: 100%;
    display: flex;
}

.newsletter-signup input {
    color: var(--text-dark);
    font-size: 0.83rem;
    width: 80%;
    border: none;
    border-radius: 40px;
    padding: 0.5rem 0.8rem;
}

.newsletter-signup button {
    margin-left: -30px;
}

/*----------------------------------------
### Footer
----------------------------------------*/

footer {
    display: flex;
    background-color: var(--primary);
    color: var(--bg-light);
    padding: 3rem 5rem;
    justify-content: space-between;
    align-items: center;
}

footer div {
    margin: 0.7rem 0;
}

footer .copyright {
    text-align: center;
}

footer .social {
    display: flex;
    gap: 15px;
}

footer .social .social-item {
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    color: var(--bg-light);
}

footer .social .social-item-1 {
    background-image: url('./assets/images/icons8-facebook-50.png');
}

footer .social .social-item-2 {
    background-image: url('./assets/images/icons8-instagram-50.png');
}

footer .social .social-item-3 {
    background-image: url('./assets/images/icons8-youtube-50.png');
}

footer .social .social-item-4 {
    background-image: url('./assets/images/icons8-pinterest-50.png');
}



/*----------------------------------------
### media queries
----------------------------------------*/

@media (max-width: 767px) {

    header {
        background-image: none !important;
        background-color: rgba(0, 160, 223, 0.3);
        text-align: center;
    }

    .cards,
    .newsletter-signup {
        flex-wrap: wrap;
    }

    .newsletter-signup,
    footer {
        padding: 3rem 5rem;
        justify-content: center;
    }

    .newsletter-signup .content,
    .newsletter-signup .form {
        flex-basis: 100%;
    }

    .newsletter-signup .form button {
        padding: 0.7rem;
        margin-left: -12%;
    }

    footer {
        flex-wrap: wrap-reverse;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    
    header {
        background-position: 70% 70% !important;
    }

    .call-to-action-banner {
        padding: 7rem 12rem;
    }

    .newsletter-signup {
        padding: 3rem 5rem;
        gap: 6rem;
    }
}


@media (min-width: 1024px) and (max-width: 1224px) {
    section {
        padding: 5rem 9rem;
    }

    .call-to-action-banner {
        padding: 8rem 15rem;
    }

    .newsletter-signup {
        padding: 3rem 9rem;
    }

    .newsletter-signup .form {
        flex-basis: 60%;
    }
}


@media (min-width: 1225px) {

    section {
        padding: 5rem 30rem;
    }

    .newsletter-signup {
        padding: 3rem 25rem;
        gap: 5rem;
    }

    form {
        width: 60%;
    }
}


